In [1]:
import pandas as pd
import numpy as np
import re
import ast
import os
from utils import changing_id, return_list

In [2]:
cd ~\Jupyter Notebook

C:\Users\hoang\Jupyter Notebook

D:\conda\Lib\site-packages\IPython\core\magics\osm.py:393: UserWarning: This is now an optional IPython functionality, using bookmarks requires you to install the `pickleshare` library.
  bkms = self.shell.db.get('bookmarks', {})
D:\conda\Lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [3]:
df = pd.read_csv(r"tgdd/raw_data.csv")

In [4]:
cd ~\output_specs

C:\Users\hoang\output_specs

D:\conda\Lib\site-packages\IPython\core\magics\osm.py:393: UserWarning: This is now an optional IPython functionality, using bookmarks requires you to install the `pickleshare` library.
  bkms = self.shell.db.get('bookmarks', {})
D:\conda\Lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [5]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 2EDA-789B

 Directory of C:\Users\hoang\output_specs

09/26/2025  01:01 PM    <DIR>          .
09/14/2025  03:44 PM    <DIR>          ..
09/05/2025  01:46 PM    <DIR>          .ipynb_checkpoints
09/08/2025  04:06 PM            52,088 B? nh? RAM, ? c?ng.csv
09/08/2025  04:06 PM            45,807 B? x? ly.csv
09/15/2025  01:40 PM            30,679 chip_clean.csv
09/08/2025  04:06 PM           137,904 C?ng k?t n?i & t¡nh nang m? r?ng.csv
09/15/2025  01:40 PM            78,497 data_clean.csv
09/08/2025  04:06 PM            36,337 D? ho? (GPU).csv
09/08/2025  04:06 PM            57,048 K¡ch thu?c - Kh?i lu?ng - Pin.csv
09/08/2025  04:06 PM            47,937 M…n h�nh.csv
09/26/2025  01:02 PM            46,562 Monitor_clean.csv
09/08/2025  04:06 PM             9,634 rating_sales.csv
09/19/2025  12:48 PM            27,081 size_clean.csv
              11 File(s)        569,574 bytes
               3 Dir(s)  30,729,867,264 bytes free

In [6]:
RatingSales = pd.read_csv(r"C:\Users\hoang\output_specs\rating_sales.csv")
RatingSales

     data_id  rating quantity_sales
0     327098     4.9   Đã bán 13,4k
1     311178     4.9   Đã bán 23,5k
2     334442     4.9    Đã bán 3,2k
3     335362     4.9    Đã bán 4,2k
4     337470     5.0    Đã bán 2,2k
..       ...     ...            ...
400   342508     NaN            NaN
401   342517     NaN            NaN
402   342523     NaN            NaN
403   342721     NaN            NaN
404   342725     NaN            NaN

[405 rows x 3 columns]

In [8]:
try:
    RatingSales = changing_id(RatingSales)
    df = changing_id(df)
    RatingSales = RatingSales.map(return_list)
    df = df.map(return_list)
except:
    None

In [9]:
RatingSales.quantity_sales.value_counts()

quantity_sales
Đã bán 2      16
Đã bán 1      15
Đã bán 4      11
Đã bán 3       9
Đã bán 1k      7
              ..
Đã bán 90      1
Đã bán 14k     1
Đã bán 104     1
Đã bán 206     1
Đã bán 414     1
Name: count, Length: 228, dtype: int64

In [10]:
def parse_sales(x):
    if isinstance(x, str):
        x = x.replace("Đã bán", "").strip()  
        if x.lower().endswith("k"):
            return int(float(x[:-1].replace(",", ".")) * 1000)  
        else:
            return int(x) 
    return None
RatingSales["quantity_sales"] = RatingSales["quantity_sales"].apply(parse_sales).astype("Int64")

In [11]:
RatingSales["quantity_sales"]

pid
327098    13400
311178    23500
334442     3200
335362     4200
337470     2200
          ...
342508     <NA>
342517     <NA>
342523     <NA>
342721     <NA>
342725     <NA>
Name: quantity_sales, Length: 405, dtype: Int64

In [13]:
RatingSales

        rating  quantity_sales
pid
327098     4.9           13400
311178     4.9           23500
334442     4.9            3200
335362     4.9            4200
337470     5.0            2200
...        ...             ...
342508     NaN            <NA>
342517     NaN            <NA>
342523     NaN            <NA>
342721     NaN            <NA>
342725     NaN            <NA>

[405 rows x 2 columns]

In [15]:
RatingSales.to_csv("~/Jupyter Notebook/clean data/RatingSales_clean.csv", index=True)